[MAIN]
fail-under=10.0
disable=
    missing-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-instance-attributes,
    fixme,
    too-many-positional-arguments,
    missing-timeout,

[FORMAT]
max-line-length=120
check-quote-consistency = true